.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .user-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 30px;
  }
  
  .user-table th,
  .user-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:hover {
    background-color: #ddd;
  }
  